<h1>Currency converter ({{ currentDate | date: "dd.MM.YYYY" }})</h1>
<mat-form-field appearance="fill">
  <mat-label>Currency Amount</mat-label>
  <input matInput placeholder="Enter currency amount" [ngModel]="amount$ | async" (ngModelChange)="onAmountChange($event)">
</mat-form-field>

<mat-form-field class="chip-list" appearance="fill">
    <mat-label>Currencies</mat-label>
    <mat-chip-list #chipList aria-label="Currency selection">
      <mat-chip
        *ngFor="let defaultCurrency of selectedCurrencies"
        (removed)="remove(defaultCurrency)">
        {{defaultCurrency}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Select currency..."
        #currencyInput
        [formControl]="currencyControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency">
        {{currency}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="container" *ngIf="selectedCurrencies">
    <div class="converted-currencies" *ngFor="let currency of selectedCurrencies">
        <p>{{ currency }}</p>
        <p>{{ (1 / ((currentData$ | async).rates[currency]) * ((amount$ | async) || 1)).toFixed(2) }}</p>
        <button mat-raised-button (click)="onAddCurrency(currency)">Add currency</button>
    </div>
</div>
