    <h2>Exchange rate {{ (historicalData$ | async).date | date: "dd.MM.YYYY" }}</h2>

    <div class="datepicker">
        <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Choose a date to update rate</mat-label>
            <input matInput [matDatepicker]="datepicker" max="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="datepickerData">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker [startAt]="currentDate" (opened)="datepickerOpen()">
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply (click)="updateRate()">Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>
    
    <div class="rate-buttons">
        <p>USD: <b>{{ ((1 / ((historicalData$ | async) || (currentData$ | async)).rates?.USD).toFixed(2)) }}</b></p>
        <p>EUR: <b>{{ ((1 / ((historicalData$ | async) || (currentData$ | async)).rates?.EUR).toFixed(2)) }}</b></p>
    </div>

