:host {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: aliceblue;
        width: 100vw;
        flex-direction: row;

        h2 {
            margin: 0;
        }
    }

    .rate-buttons {
        display: flex;
        flex-direction: column;
    }

    .update-rate{
        display: flex;
        flex-direction: row;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        p {
            margin: auto 0 auto 15px;
        }
    }

    .converted-currencies {
        display: flex;
        flex-direction: row;

        p {
            margin: auto 15px auto 0;
        }
    }

    .converter-container {
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 10px;
        row-gap: 1em;
        margin: 20px auto;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.7);
    }

    .overlay-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .overlay-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }    
}
