<!-- <h2>Exchange rate today {{ date | date: "dd.MM.YYYY" }}</h2> -->
<h2>Exchange rate today </h2>
<h3>Updated at: {{ currentDate | date: "dd.MM.YYYY" }}</h3>
    <div>
    <p>
        USD: <b>{{ currentRateUSD }}</b>
    </p>
    <p>
        EUR: <b>{{ currentRateEUR }}</b>
    </p>
    </div>
<h1>Currency converter</h1>
<input [ngModel]="amount$ | async">
<!-- <input [ngModel]="amount$ | async"(ngModelChange)="onAmountChange($event)">


<div *ngFor="let currency of (currencyRates$ | async)">
  <p>{{currency}}</p>
  {{currency.code + ' ' + currency.value * (amount$ | async)}}
  <button mat-raised-button>Add currency</button>
</div> -->
