<div class="saved-currencies">
    <h3>Saved currencies</h3>
    <div *ngFor="let currency of savedCurrencies">
        <p><b>{{ currency }}</b></p>
    </div>
</div>

<div class="currency-select-container">
    <h3>Select a currency to view the chart</h3>
    <mat-form-field appearance="fill">
    <mat-label>Follow Dynamic</mat-label>
    <mat-select [(value)]="chartCurrency">
        <mat-option *ngFor="let currency of savedCurrencies" [value]="currency">
        {{ currency }}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="range-picker">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="currencyForm" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        
        <mat-error *ngIf="currencyForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="currencyForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <button *ngIf="chartCurrency" mat-raised-button class="chart-button" (click)="onViewChart(chartCurrency)">View Chart</button>
</div>

<hr style="width:100vw">

<div class="chart" *ngIf="chartCurrency && (currencyRateData$ | async)" style="display: block;">
    <canvas baseChart width="1000px" height="400px"
        [type]="'line'"
        [data]="lineChartData">
    </canvas>
</div>

<hr style="width:100vw">